{{ define "content" }}

<h2>Witamy, {{.Name}}</h2>

<p>Cieszymy się, że dołączasz do naszej rosnącej społeczności.</p>
<p>Dziękujemy za rejestrację i zaufanie, że pomożemy Ci odkrywać ekscytujące możliwości i rozwiązania w Twoim mieście lub poza nim. Niezależnie od tego, czy odkrywasz nowe miejsca, szukasz porad, czy nawiązujesz kontakty z innymi – jesteśmy tutaj, aby uczynić Twoje doświadczenie bezproblemowym i przyjemnym.</p>
<p>W razie pytań lub potrzeby pomocy, skontaktuj się z naszym zespołem wsparcia w dowolnym momencie.</p>

<p>
    Z pozdrowieniami,
    <br>
    <span style="
        font-weight: 600
    ">Zespół Closi</span>
</p>

{{ end }}