{{ define "content" }}

<h2>E-Mail-Bestätigung</h2>

<p>Wir müssen Ihre E-Mail-Adresse bestätigen, um den Vorgang abzuschließen. Bitte klicken Sie auf die Schaltfläche unten, um Ihre E-Mail zu bestätigen:</p>

<p>
    <a style="
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        text-align: center;
        background-color: #685df5;
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
    " href="{{.ConfirmationLink}}">E-Mail bestätigen</a>
</p>

<p>Wenn Sie kürzlich Ihre E-Mail-Adresse aktualisiert haben, ist dieser Schritt erforderlich, um Ihre neue Adresse zu bestätigen.</p>
<p>Wenn Sie diese Anfrage nicht gestellt haben, ignorieren Sie bitte diese E-Mail.</p>

<p>
    Mit freundlichen Grüßen,
    <br>
    <span style="
        font-weight: 600
    ">Das Closi-Team</span>
</p>

{{ end }}