{{ define "content" }}

<h2>Підтвердження електронної пошти</h2>

<p>Нам потрібно підтвердити вашу електронну адресу, щоб завершити процес. Будь ласка, натисніть кнопку нижче, щоб підтвердити свою електронну пошту:</p>

<p>
    <a style="
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        text-align: center;
        background-color: #685df5;
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
    " href="{{.ConfirmationLink}}">Підтвердити електронну пошту</a>
</p>

<p>Якщо ви нещодавно оновили свою електронну адресу, цей крок необхідний для підтвердження нової адреси.</p>
<p>Якщо ви не надсилали цей запит, просто ігноруйте цей лист.</p>

<p>
    З найкращими побажаннями,
    <br>
    <span style="
        font-weight: 600
    ">Команда Closi</span>
</p>

{{ end }}