{{ define "content" }}

<h2>Ласкаво просимо, {{.Name}}</h2>

<p>Ми раді вітати вас у нашій зростаючій спільноті.</p>
<p>Дякуємо за реєстрацію та довіру до нас у відкритті нових можливостей і рішень у вашому місті чи за його межами. Незалежно від того, чи ви досліджуєте нові місця, шукаєте поради або налагоджуєте зв'язки з іншими – ми тут, щоб зробити ваш досвід легким і приємним.</p>
<p>Якщо у вас є питання або потрібна допомога, не соромтеся звертатися до нашої служби підтримки в будь-який час.</p>

<p>
    З найкращими побажаннями,
    <br>
    <span style="
        font-weight: 600
    ">Команда Closi</span>
</p>

{{ end }}