{{ define "content" }}

<h2>Подтверждение электронной почты</h2>

<p>Нам необходимо подтвердить ваш адрес электронной почты, чтобы завершить процесс. Пожалуйста, нажмите кнопку ниже, чтобы подтвердить свою почту:</p>

<p>
    <a style="
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        text-align: center;
        background-color: #685df5;
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
    " href="{{.ConfirmationLink}}">Подтвердить почту</a>
</p>

<p>Если вы недавно обновили свой адрес электронной почты, этот шаг необходим для подтверждения нового адреса.</p>
<p>Если вы не запрашивали это, просто проигнорируйте это письмо.</p>

<p>
    С наилучшими пожеланиями,
    <br>
    <span style="
        font-weight: 600
    ">Команда Closi</span>
</p>

{{ end }}