{{ define "content" }}

<h2>Добро пожаловать, {{.Name}}</h2>

<p>Мы рады приветствовать вас в нашем растущем сообществе.</p>
<p>Спасибо за регистрацию и доверие, что мы поможем вам открыть для себя интересные возможности и решения в вашем городе или за его пределами. Независимо от того, исследуете ли вы новые места, ищете советы или связываетесь с другими – мы здесь, чтобы сделать ваш опыт максимально простым и приятным.</p>
<p>Если у вас есть вопросы или вам нужна помощь, вы всегда можете обратиться в нашу службу поддержки.</p>

<p>
    С наилучшими пожеланиями,
    <br>
    <span style="
        font-weight: 600
    ">Команда Closi</span>
</p>

{{ end }}